<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Home{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} &ndash; {{ shop.name }}{% endif %}</title>
        {% if page_description %}
        <meta name="description" content="{{ page_description }}">
        {% else %}
        <meta name="description" content="The Blue and Gold Store is your online shop from the Madeira High School entrepreneurship class. Pick out anything and have it shipped right to your door.">
        {% endif %}

        <link rel="canonical" href="{{ canonical_url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//cdn.shopify.com/s/files/1/0274/0485/files/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link rel="apple-touch-icon-precomposed" href="//cdn.shopify.com/s/files/1/0274/0485/files/apple-touch-icon-precomposed.png">

        {{ content_for_header }}

        {{ 'style.min.css' | asset_url | stylesheet_tag }}

        <!--[if IE]>
        {{ 'html5shiv.js' | asset_url | script_tag }}
        <![endif]-->

        {% if template contains 'customers' %}
        {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
        {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
        {% endif %}
        <!--[if IE]>
        {{ 'json2.js' | asset_url | script_tag }}
        <![endif]-->

        {{ 'option_selection.js' | shopify_asset_url | script_tag }}
        {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}
    </head>

    <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

        <div class="container">
            <div class="row">
                <header class="header col-md-3" role="header">
                    <a href="/" class="banner" title="The Blue and Gold Store">
                        <img src="//cdn.shopify.com/s/files/1/0274/0485/files/bandglogo.png" alt="The Blue and Gold Store">

                        <h1 class="text-center">The <span class="blue">Blue</span> and <span class="gold">Gold</span> Store</h1>
                    </a>

                    <nav class="nav" role="navigation">
                        <div class="navbar-desktop list-group">
                            {% for link in linklists.main-menu.links %}
                                <a href="{{ link.url }}" class="list-group-item{% if link.active %} active{% endif %}">{{ link.title }} {% if link.active %}<span class="glyphicon glyphicon-chevron-right pull-right"></span>{% endif %}</a>
                            {% endfor %}
                        </div><!-- /list-group -->

                        <div class="navbar-mobile">
                            <div class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="/">The <span class="blue">Blue</span> and <span class="gold">Gold</span> Store</a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        {% for link in linklists.main-menu.links %}
                                            <li>
                                                <a href="{{ link.url }}" {% if link.active %} class="active"{% endif %}>{{ link.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /navbar navbar-default -->
                        </div><!-- /navbar-mobile -->
                    </nav><!-- /nav -->
                </header><!-- /header col-md-4 -->

                <main class="main col-md-9" role="main">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="jumbotronbg">
                                <div class="jumbotron">
                                    <p class="lead">The Blue and Gold Store is a non-profit online shop selling Madeira spirit wear. It&rsquo;s presented to you by the Madeira High School entrepreneurship class.</p>
                                </div><!-- /jumbotron -->
                            </div><!-- /jumbotronbg -->
                        </div><!-- /col-md-12 -->
                    </div><!-- /row -->

                    {{ content_for_layout }}
                </main><!-- /main col-md-9 -->
            </div><!-- /row -->

            <footer class="footer row" role="footer">
                <div class="col-md-8">
                    <p class="text-left"><small>Built and maintained by students in the entrepreneurship class at Madeira High School in Madeira, Ohio</small></p>
                </div>

                <div class="col-md-4">
                    <p class="text-right"><small>&copy; {{ "now" | date: "%Y" }} The Blue and Gold Store</small></p>
                </div>
            </footer><!-- /footer row -->
        </div><!-- /container -->

        <!--[if lt IE 8]>
            <div class="alert alert-warning alert-fixed alert-fixed-bottom text-center">
                <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            </div>
        <![endif]-->

      {{ 'scripts.min.js' | asset_url | script_tag }}

      <!-- made with all the love in the world by noah - noahbass.com -->
    </body>
</html>
