{% comment %}Is this product on sale?{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

<div class="col-xs-6 col-sm-3 singleitem">
    <a href="{{ product.url }}" class="thumbnail">
        <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}">

        <div class="caption">
            <p class="text-center"><strong>{{ product.title }}</strong><br>{{ product.price | money }}</p>
        </div><!-- /caption -->
    </a><!-- /thumbnail -->
</div><!-- /col-sm-6 col-md-3 -->
