.page-header {
    margin: 15px 0 15px;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}

body {
    background-image: url(http://cdn.shopify.com/s/files/1/0274/0485/files/cream_dust.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(http://cdn.shopify.com/s/files/1/0274/0485/files/cream_dust__2X.png);
    }
}

.form-group {
    width: 100%;

    input {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
    }
}


select {
    display: block;
    width: 100%;
    height: inherit;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #FFF;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-transition: none;
    transition: none;
}
