.blue {
    color: $blue;
}

.gold {
    color: $gold;
}

.header {
    a {
        color: inherit;
        text-decoration: none;

        img {
            max-width: 175px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }


}

.jumbotronbg {
    background: url(http://farm4.staticflickr.com/3808/9686358793_fbdaba4a79_z.jpg) no-repeat center center;

    background-size: cover;
    color: #fff;
    border-radius: 0 0 4px 4px;

    @media screen and (max-width: 991px) {
        border-radius: 4px;
    }

    .jumbotron {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 100px 40px;;
        border-radius: 0 0 4px 4px;
        margin: 0;
    }

    @media screen and (max-width: 500px) {
        display: none;
    }
}



// navbar control
.header {
    .navbar-desktop {
        display: block;
    }

    .navbar-mobile {
        display: none;
    }

    @media screen and (max-width: 991px) {
        .navbar-desktop, .banner {
            display: none;
        }

        .navbar-mobile {
            display: block;
        }
    }
}
