

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h2>
                Cart
                <span class="pull-right"><a href="//www.paypal.com/webapps/mpp/paypal-popup" target="_blank"><img src="//cdn.shopify.com/s/files/1/0274/0485/files/paypal-secured.png" alt="payments secured with paypal" height="30"></a></span></a>
            </h2>
        </div>

        {% if cart.item_count > 0 %}

        <p>To checkout, simply click the &ldquo;Check out with PayPal&rdquo; button. After entering your information into PayPal, you will be asked to choose a shipping rate (and enter in a coupon code if you have one).</p>

        <form action="/cart" method="post">
            <div class="table-responsive">
                <table class="table table-responsive form-inline cart">
                    <thead>
                        <tr>
                            <td><p><strong>Item</strong></p></td>

                            <td>&nbsp;</td>

                            <td><p><strong>Price</strong></p></td>

                            <td><p><strong>Quantity</strong></p></td>

                            <td><p><strong>Total</strong></p></td>

                            <td>&nbsp;</td>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in cart.items %}
                        <tr>
                            <td>
                                <a href="{{ item.product.url | within: collections.all }}" class="thumbnail">
                                    <img src="{{ item.product.featured_image.src | product_img_url: 'small' }}" alt="{{ item.title | escape }}">
                                </a>
                            </td>

                            <td>
                                <p>
                                    <a href="{{ item.product.url | within: collections.all }}">
                                        {{ item.title }} -&nbsp;
                                        {% if item.product.variants.size == 1 %}
                                            {% unless item.variant.title contains 'Default' %}
                                                {{ item.variant.title }}
                                            {% endunless %}
                                        {% endif %}
                                    </a>
                                </p>
                            </td>

                            <td><p>{{ item.price | money }}</p></td>

                            <td>
                                <div class="form-group">
                                    <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" class="form-control">
                                </div>
                            </td>

                            <td><p>{{ item.line_price | money }}</p></td>

                            <td><a href="/cart/change?line={{ forloop.index }}&quantity=0" class="btn btn-primary">Remove</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /table-responsive -->

            <div class="row">
                <div class="col-md-6">
                    <p class="text-left btn-group">
                        <a href="/" class="btn btn-primary" title="Continue Shopping">Continue Shopping</a>
                        <input class="btn btn-primary" type="submit" name="update" value="Update Cart">
                    </p>
                </div><!-- /col-md-6 -->

                <div class="col-md-6">
                    <p class="text-right">
                        <strong>Subtotal {{ cart.total_price | money }} </strong>

                        {% if additional_checkout_buttons %}
                        <span class="paypal">
                            {{ content_for_additional_checkout_buttons }}
                        </span><!-- /paypal -->
                        {% endif %}

                        <div class="paypal-loading" style="display: none;">Loading PayPal</div><!-- /paypal-loading -->
                    </p>
                </div><!-- /col-md-6 -->
            </div><!-- /row -->
        </form>
    </div><!-- /col-lg-12 -->

    {% else %}

    <p>While we are absolutely thrilled that you would give us your money for nothing, we ask that you add a few items to your cart to make it worth your while. Please <a href="/" title="continue browsing">continue browsing</a>.</p>

    {% endif %}
</div><!-- /row -->
