<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h2>{{ collection.title }}</h2>
        </div><!-- /page-header -->

        {% if collection.description.size > 0 %}
        {{ collection.description }}
        {% endif %}
    </div><!-- /col-lg-12 -->
</div><!-- /row -->

<div class="row">
    {% for product in collection.products %}
        {% include 'product-grid-item' with 'item' %}
    {% else %}
    <p><strong>:(</strong> No items were found. Please check back later.</p>
    {% endfor %}
</div><!-- /row -->
