{% assign page = pages.frontpage %}

<div class="row">
    <div class="col-lg-12">
        {{ page.content }}
    </div><!-- /col-lg-12 -->
</div><!-- /row -->

{% assign collection = collections.frontpage %}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h2>All Items</h2>
        </div><!-- /page-header -->
    </div><!-- /col-lg-12 -->
</div><!-- /row -->

<div class="row">
    {% for product in collection.products %}
        {% include 'product-grid-item' with 'item' %}
    {% else %}
    <p><strong>:(</strong> No items were found. Please check back later.</p>
    {% endfor %}
</div><!-- /row -->
