<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h2>{{ page.title }}</h2>
        </div><!-- /page-header -->

        {{ page.content }}
    </div><!-- /col-lg-12 -->
</div><!-- /row -->
