<div itemscope itemtype="http://schema.org/Product" class="singleitem">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    {% if product.available %}
    <link itemprop="availability" href="http://schema.org/InStock">
    {% else %}
    <link itemprop="availability" href="http://schema.org/OutOfStock">
    {% endif %}

    <form action="/cart/add" method="post" enctype="multipart/form-data" class="row">
        <div class="col-md-6">
            <div id="carousel" class="thumbnail carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for image in product.images %}
                        <div class="item{% if forloop.first %} active{% endif %}">
                            {{ image.src | product_img_url: 'grande' | img_tag: product.title }}
                        </div><!-- /item -->
                    {% endfor %}
                </div><!-- /carousel-inner -->

                {% if product.images.size > 1 %}
                <a class="left carousel-control" href="#carousel" data-slide="prev" style="background-image: none !important;">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a><!-- /left carousel-control -->
                <a class="right carousel-control" href="#carousel" data-slide="next" style="background-image: none !important;">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a><!-- /right carousel-control -->
                {% endif %}
            </div><!-- /thumbnail carousel slide -->
        </div><!-- /col-md-6 -->

        <div class="col-md-6">
            <h2 itemprop="name">
                {{ product.title }}&nbsp;
                <small class="share">
                    <a href="//www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}" target="_blank">
                        <img src="//cdn.shopify.com/s/files/1/0274/0485/files/fb.png?1180" alt="Share {{ product.title }}" width="16" height="16">
                    </a>
                    <a href="//twitter.com/home?status=Check out the {{ product.title }} on the @B_and_G_Store {{ shop.url }}{{ product.url }}" target="_blank">
                        <img src="//cdn.shopify.com/s/files/1/0274/0485/files/tw.png?1180" alt="Tweet {{ product.title }}" width="16" height="16">
                    </a>
                </small>
            </h2>

            {% if product.available %}
            <p>
                <div class="btn-group">
                    {% assign hide_default_title = false %}
                    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                        {% assign hide_default_title = true %}
                    {% endif %}
                    <div id="product-variants" class="btn btn-primary">
                        <select id="product-select" name="id">
                            <option value="Choose a Variant" disabled>Choose a Variant...</option>

                            {% for variant in product.variants %}
                            <option value="{{ variant.id }}" {% if variant.inventory_quantity == 0 %} disabled="disabled"{% endif %}>{{ variant.title }} - {% if variant.inventory_quantity == 0 %} Sold Out{% else %}{{ variant.price | money }}{% endif %}</option>
                            {% endfor %}
                        </select>
                    </div><!-- /btn btn-primary -->
                    <input type="submit" name="add" id="add" value="Add to Cart" class="btn btn-primary btn-lg" id="addtocart">
                </div><!-- /btn-group -->
            </p>
            {% else %}
            <p><strong>:(</strong> This item is unavailable</p>
            {% endif %}

            <p itemprop="description">{{ product.description }}</p>

            {% if product.available %}
            <p>Want a size that is not available? Send an email to team@theblueandgoldstore.org and we'll try our best to get it in stock!</p>
            {% else %}
            <p>Send an email to team@theblueandgoldstore.org to request a new shipment be made of this item.</p>
            {% endif %}
        </div><!-- /col-lg-6 -->
    </form><!-- /row -->
</div><!-- /singleitem -->
